body{
    background-color:antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: Arial, Helvetica, sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height:60px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width:44px;
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    min-height: 70vh;
    background-color: black;
    color: white;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    margin: 5px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('p.jpg');
    background-repeat: no-repeat;
    background-size:1700px;
}
.bottom{
    position: sticky;
    height: 80px;
    background-color: black;
    bottom: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons{
    margin-top: 14px;
}
.icons i{
    cursor:pointer;
}
#myProgressBar{
    width: 80vw;
    cursor: pointer;
}
.songItemContainer{
    margin-top: 75px;
}
.songItem{
    font-size: medium;
    height:50px;
    display: flex;
    background-color: white;
    border-color: white;
    width:80%;
    color:black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}
.songItem img{
    width: 44px;
    margin: 23px 20px;
    border-radius: 34px;
}
.timestamp{
    margin: 0 23px;
}
.timestamp i{
    cursor: pointer;
}
.songInfo{
    position: absolute;
    left:155px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

